.footer {
  background-color: rgb(109, 141, 196);
  color: white;
  padding: 1rem;
  text-align: center;
  font-family: Georgia, serif;
  position:fixed;
  bottom: 0;
  right: 0;
  height: min-content;
  width:100%;
}