.header {
    background-color: rgb(109, 141, 196);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-family: Georgia, serif;
  }
  
  .item-count{
    margin-right: 1rem;
  }